<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="country" class="com.zxl.webspring.webspring.eneity.Country"/>
    <bean id="passenger" class="com.zxl.webspring.webspring.eneity.Passenger">
        <constructor-arg name="name" value="谢旗营"/>
        <constructor-arg name="country" ref="country"/>
    </bean>
</beans>