<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>com.zxl.filter.LoggingFilter</filter-class>
    </filter>
<!--  配置过滤资源规则-->
    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <url-pattern>/servlet1</url-pattern>   <!--根据servlet注解的value属性-->
        <servlet-name>servlet1</servlet-name>  <!--根据servlet注解的name属性-->
    </filter-mapping>

    <filter>
        <filter-name>LifeCycleFilter</filter-name>
        <filter-class>com.zxl.filter.LifeCycleFilter</filter-class>
        <init-param>
            <param-name>dateTimePatter</param-name>
            <param-value>yyyy-MM-dd HH:mm:ss</param-value>
        </init-param>   <!--FilterConfig信息-->

    </filter>
    <filter-mapping>
        <filter-name>LifeCycleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>